<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>New post</title>
    <style>
        .form-container {
            border: 1px solid black;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            width: 700px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <form action="/admin/new" method="POST" enctype="multipart/form-data">
            <input style="width: 50%" type="text" name="title" placeholder="Enter Title" required><br><br>
            <textarea name="content" id="" cols="70" rows="20" style="border-radius: 3px; border: 2px solid;" required>Blog content</textarea><br><br>
            <input style="width: 50%" type="file" name="blogImage" value="Blog Image">
            <hr>
            <input style="width: 50%" type="text" name="bullet-point-Heading" placeholder="Bullet points heading"><br><br>
            <textarea name="bullet-points-content" id="" cols="70" rows="5" style="border-radius: 3px; border: 2px solid;" required>Bullet points. To be seperated by a "/"</textarea><br><br>
            <hr>
            <input style="width: 50%" type="text" name="blog-quote-Heading" placeholder="Blog quote heading" required><br><br>
            <textarea name="blog-quote" id="" cols="70" rows="5" style="border-radius: 3px; border: 2px solid;" required>Blog quote</textarea><br><br>
            <input style="width: 50%" type="text" name="quote-author" placeholder="Enter quoter's name" required><br><br>
            <hr>
            <input style="width: 50%" type="text" name="youtube-VideoPath" placeholder="Enter Youtube Path" required><br><br>
            <input style="width: 50%" type="password" name="adminPassword" placeholder="Enter Admin Password" required><br><br>
            <hr>
            <input style="width: 50%" type="submit"  Value="Create">
        </form>
    </div>
    <script>alert({{.}})</script>
</body>